.maintext-main{
    height:85vh;
    max-width:100%;
    text-align:center;
}
.maintext-heading{
    color:#D9D9D9;
    font-size:5vw;
    padding:0;
    margin:0px;
    padding-top:5vh;
}
#maintext-txt2{
    color:#A4BF7A;
}
.maintext-maintext{
    font-size:2vw;
    color:#595959;
    display:flex;
    flex-direction:row;
    justify-content:center;
}
#maintext-txt4{
    opacity:0;
    color: #A4BF7A;
    transition: opacity .3s ease-in;
}
#maintext-txt5{
    color:#D9D9D9;
    font-weight:500;
    width:15vw;
    align-self: right;
    transition: opacity .3s ease-in;
}
#maintext-externals{
    color:white;
    display:flex;
    flex-direction:row;
    justify-content:center;
    opacity:0;
    transition: opacity .3s ease-in;
    margin-top:20vh;
}
.maintext-footer{
    display:flex;
    flex-direction:column;
    justify-content:center;
}
#maintext-link-to-next{
    opacity:0;
    color:#595959;
    font-size:1.5vw;
    transition: opacity 5s ease-in;
    animation: changeColors .6s ease-in-out 0s infinite;
}
#maintext-link-to-next:hover{
    cursor:pointer;
    animation:none;
    color:#A4BF7A;
}
#maintext-heading-dot{
    border-left:1vh solid #D9D9D9;
    animation: dotdot .5s ease-in-out 0s infinite;
}
#maintext-small-dot{
    display:none;
    border-left:1vh solid #D9D9D9 !important;
    animation: dotdot .5s ease-in-out 0s infinite;
}

@keyframes dotdot{
    0%{
        border-left:1vh solid #0D0D0D;
    }
    100%{
        border-left:1vh solid #D9D9D9;
    }
}
@keyframes changeColors{
    0%{
        color:#595959;
    }
    25%{
        color:#A4BF7A;
    }
    50%{
        color:#D9D9D9;
    }
    100%{
        color:#6C7339;
    }
}

@media only screen and (max-width: 992px) {
    .maintext-heading{
        font-size:8.5vw;
    }
    .maintext-maintext{
        font-size:4vw;
    }
    #maintext-link-to-next{
        font-size:3vh;
    }
    #maintext-txt5{
        width:30vw;
    }
}
